@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.form-container {
  max-width: 600px; /* or whatever width you prefer */
  margin: 0 auto; /* centers the form in the middle of the page */
  padding: 20px; /* adds some spacing inside the container */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* optional: adds a subtle shadow for depth */
  border-radius: 8px; /* optional: rounds the corners */
  background-color: white; /* optional: sets a background color */
}
